*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F8F8F8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: #3C6786;
    display: flex;
    width: auto;
    height: 10vh;
    color: white;
    font-weight: bold;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

.navbar-list{
    display: flex;
    list-style: none;
}

.navbar-item{
    margin-right: 25px;
}

.bg-blue {
    background-color: #3C6786;
}

.search-button img {
    width: 20px;    
    padding-bottom: 3px;    
}

button {
    background-color: #9400D3;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    border: 0px;
    margin-top: 20px;
}

.card {
    width: 340px;
    height: 170px;
}

.card-button button {
    width: 130px;              
}

.card-body img {
    float: left;
    width: 28px;
    margin: 0 10px;
}

label {
    margin-top: 10px;
    float: left;
    text-align: left;
    width: 100%;
  }
  input {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    background: #f8f8f8;
    border: 2px solid #ccc;
    outline-color: salmon;
  }

.modal-button {
    width: 100px;
}

.base {
    /* width: 400px; */
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background: #ededed; */
  }

a{
    color: white;
    text-decoration: none;
}