* {
    font-family: "Trebuchet MS";
  }
  h1 {
    text-transform: uppercase;
    color: #9400D3;
  }
button {
      background-color: #9400D3;
      color: #fff;
      padding: 10px;
      text-decoration: none;
      font-size: 12px;
      border: 0px;
      margin-top: 20px;
}
label {
  margin-top: 10px;
  float: left;
  text-align: left;
  width: 100%;
}
input {
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  background: #f8f8f8;
  border: 2px solid #ccc;
  outline-color: salmon;
}
.input_kelas{
  margin-top: 20px;
}
div {
  width: 100%;
  height: auto;
}
.base {
  width: 400px;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #ededed;
}